body{background-color: black;}
.b-top-left{width:8px; height:13px; background-image:url(template/b-top-left.gif);	}
.b-top{width:1100px; height:13px; background-image:url(template/b-top.gif);}
.b-top-right{width:8px; height:13px; background-image:url(template/b-top-right.gif);}
.b-left{width:7px; height:1px; background-image:url(template/b-left.gif);}
.b-right{width:7px; height:1px; background-image:url(template/b-right.gif);}
.b-foot-left{width:8px; height:13px; background-image:url(template/b-foot-left.gif);}
.b-foot{width:1100px; height:13px; background-image:url(template/b-foot.gif);}
.b-foot-right{width:8px; height:13px; background-image:url(template/b-foot-right.gif);}
.b-midl{background-image:url(template/b-midl.gif);}
.menu-left{width:10px;height:38px;background-image:url(template/m-left.gif);}
.menu{height:38px;background-image:url(template/menu.gif);}
.menu-right{height:38px;width:10px;background-image:url(template/m-right.gif);}
table {border-collapse:collapse;}
a.menu-link{color: #ffffff;text-decoration: none;}
a:hover.menu-link { color: #FFFF00;text-decoration: underline;}